{% extends 'guest/base.html.twig' %}

{% block title %}Best's Boxer : Login{% endblock %}

{% block body %}
    <section class="flex font marginBot marginTop">
        <form method="post" action="{{ path('app_login') }}">


            {% if error %}
                <div class="alert alert-danger">Pseudo ou Mot de passe incorrects</div>
            {% endif %}

            {# {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %} #}

                <h1 class="h3 mb-3 font-weight-normal h1FormLog center padd10px">Merci de vous connectez.</h1>
            <div class="formAdmin flex">
                <div class="padd10px inputWrapper">
                    <input placeholder=" " type="text" value="" name="_username" id="username" class="form-control" autocomplete="username" required autofocus>
                    <label class="label" for="username">Pseudo</label>
                </div>
                <div class="padd10px inputWrapper">
                    <input placeholder=" " type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                    <label class="label" for="password">Mot de Passe</label>
                </div>

                <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
                >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <input type="checkbox" name="_remember_me" id="_remember_me">
                    <label for="_remember_me">Remember me</label>
                </div>
            #}
            </div>
            <div class="flex padd10px">
                <button class="btn btn-lg btn-primary btnConnexion connexionUser" type="submit">
                    Connexion
                </button>
            </div>
        </form>
    </section>
    <div class="flex padd10px font">
        <a class="ancreBoxeAng" href="{{ path('inscription') }}">Vous n'avez pas de compte ? Inscrivez-vous.</a>
    </div>
{% endblock %}
