{% extends 'guest/base.html.twig' %}

{# ------------- TITRE PAGE ------------- #}

    {% block title %}
        Best's Boxer : Page d'Accueil
    {% endblock %}

{# ------------- BODY ------------- #}

        {% block body %}
            {# ------------- CAROUSSEL ------------- #}
            <section class="marginCaroussel">
                <div class="owl-carousel">
                    {% for boxeur in boxeurs %}
                        <div>
                            <img src="{{ asset('assets/uploads/'~boxeur.image) }}" alt="image de {{ boxeur.nom }}" />
                        </div>
                    {% endfor %}
                </div>
            </section>

            {# ------------- TITRE H1 ------------- #}
            <h1 id="titleHome" class="font">Derniers Articles </h1>
            <section class="w78 font">
                <div>
                    {% if randomBoxeurs is not empty %}
                    <div class="Tablette">
                        {% for boxeur in randomBoxeurs %}
                            <article class="paddArticles flex littleMarginBot w48">
                                <div class="DivImgArticles">
                                    <img src="{{ asset('assets/uploads/'~boxeur.image) }}" alt="Image de {{ boxeur.nom }}"/>
                                </div>
                                {# ------------- Text Article ------------- #}
                                <div class="flex2 bcgBlue paddArticles shadow translate radius">
                                    <h2 class="nameBox white center paddArticles10px">{{ boxeur.prenom }} {{ boxeur.nom }}</h2>
                                    <p class="white paddArticles10px">
                                        {{ boxeur.resume }}
                                    </p>
                                    {# ------------- En Savoir Plus ------------- #}
                                    <a id="ancreBlue" class="center dblock paddArticles10px" href="{{ path('show_boxeur', {id:boxeur.id}) }}">En savoir plus</a>
                                </div>
                            </article>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </section>

        {% endblock %}
        {% block javascript %}
        <script
            src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous">
        </script>
        <script src="{{ asset('assets/js/OwlCaroussel/owl.carousel.min.js') }}"></script>
        <script>
            $(document).ready(function(){
                $(".owl-carousel").owlCarousel({
                    loop:true,
                    autoplay:true,
                    center: true,
                    autoplayTimeout:2000,
                    autoplayHoverPause:true,
                    responsive:{
                        0:{
                            items: 2
                        },
                        780:{
                            items: 2
                        },
                        1025:{
                            items: 3
                        }
                    }
                });
        });
        </script>
    {% endblock %}