{% extends 'guest/base.html.twig' %}

{# ------------- TITRE PAGE ------------- #}

    {% block title %}
        Best's Boxer : Boxe Anglaise
    {% endblock %}

{# ------------- BODY ------------- #}

        {% block body %}
            <section class="w90flex wrap">
                    <article class="w45 font">
                        {# ------------- IMG Articles ------------- #}
                        <div class="marginTop">
                            <img src="{{ asset('assets/uploads/'~boxeur.image) }}" alt="image de {{ boxeur.nom }}" />
                        </div>
                        {# ------------- RESULT ------------- #}
                        <div class="result">
                            <p class="center">
                                <span class="beigeChaud">W :</span> <span class="white">{{ boxeur.victoire }}</span>
                            </p>
                            <p class="center">
                                <span class="beigeChaud">L :</span> <span class="white">{{ boxeur.defaite }}</span>
                            </p>
                            <p class="center">
                                <span class="beigeChaud">D :</span> <span class="white">{{ boxeur.egalite }}</span>
                            </p>
                        </div>
                        {# ------------- Text Article ------------- #}
                        <div class="paddArtBoxeAng">
                            <h2 class="center beigeChaud">{{ boxeur.prenom }} {{ boxeur.nom }}</h2>
                            <p class="paddArtBoxeAng center">
                                {{ boxeur.description }}
                            </p>
                        </div>
                    </article>
            </section>

            <section class="font w50">
            <h3 class="center padd10px beigeChaud littleMarginBot fontSize">Commentaires</h3>

            {# Liste des commentaires #}
            {% if commentaires is not empty %}
                <div>
                    {% for commentaire in commentaires %}
                        <div class="flexComment">
                            <div class="w30 padd10px">
                                <p><span class="spanComment">{{ commentaire.user.Pseudo }}</span></p><p class="littleCarac">le {{ commentaire.dateCommentaire|date('d/m/Y H:i') }} :</p>
                            </div>
                            <div class="w70 padd10px">
                                <p>{{ commentaire.contenu }}</p>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                </div>
            {% else %}
                <p class="center">Il n'y a pas encore de commentaires sur ce boxeur.</p>
            {% endif %}

            {# Formulaire de commentaire #}
            <h3 class="center padd10px beigeChaud heavyMarginTop fontSize">Ajouter un commentaire</h3>
            {% if app.user %}
                <div class="center littleMarginBot">
                    {{ form_start(form) }}
                    {{ form_row(form.Contenu, {'label': false}) }}
                    {{ form_row(form.submit) }}
                    {{ form_end(form) }}
                </div>
            {% else %}
                <p class="center padd10px">Veuillez vous <a class="ancreBoxeAng underline" href="{{ path('app_login') }}">connecter</a> afin d'ajouter un commentaire.</p>
            {% endif %}
            </section>

        {% endblock %}