{% extends 'guest/base.html.twig' %}

{# ------------- TITRE PAGE ------------- #}

    {% block title %}
        Best's Boxer : Boxe Anglaise
    {% endblock %}

{# ------------- BODY ------------- #}

        {% block body %}
            <section class="w90flex wrap">
                    <article class="w45 font">
                        {# ------------- IMG Articles ------------- #}
                        <div class="marginTop">
                            <img src="{{ asset('assets/uploads/'~boxeur.image) }}" alt="image de {{ boxeur.nom }}" />
                        </div>
                        {# ------------- RESULT ------------- #}
                        <div class="result">
                            <p class="center">
                                <span class="beigeChaud">W :</span> <span class="white">{{ boxeur.victoire }}</span>
                            </p>
                            <p class="center">
                                <span class="beigeChaud">L :</span> <span class="white">{{ boxeur.defaite }}</span>
                            </p>
                            <p class="center">
                                <span class="beigeChaud">D :</span> <span class="white">{{ boxeur.egalite }}</span>
                            </p>
                        </div>
                        {# ------------- Text Article ------------- #}
                        <div class="paddArtBoxeAng">
                            <h2 class="center beigeChaud">{{ boxeur.prenom }} {{ boxeur.nom }}</h2>
                            <p class="paddArtBoxeAng center">
                                {{ boxeur.description }}
                            </p>
                        </div>
                    </article>
            </section>

            <section>
            <h3>Commentaires</h3>

            {# Liste des commentaires #}
            {% if commentaires is not empty %}
                <ul>
                    {% for commentaire in commentaires %}
                        <li>
                            <strong>{{ commentaire.user.Pseudo }}</strong> le {{ commentaire.dateCommentaire|date('d/m/Y H:i') }} :
                            <p>{{ commentaire.contenu }}</p>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Il n'y a pas encore de commentaires.</p>
            {% endif %}

            {# Formulaire de commentaire #}
            <h3>Ajouter un commentaire</h3>

            {% if app.user %}
                {{ form_start(form) }}
                {{ form_row(form.Contenu) }}
                {{ form_row(form.submit) }}
                {{ form_end(form) }}
            {% else %}
                <p>Vous devez être connecté pour ajouter un commentaire.</p>
            {% endif %}
            </section>

        {% endblock %}