{% extends 'guest/base.html.twig' %}

{# ------------- TITRE PAGE ------------- #}

    {% block title %}
        Best's Boxer : Boxe Anglaise
    {% endblock %}

{# ------------- BODY ------------- #}

        {% block body %}
            <section class="w90flex wrap">
                    <article class="w45 font">
                        {# ------------- IMG Articles ------------- #}
                        <div class="marginTop">
                            <img src="{{ asset('assets/uploads/'~boxeur.image) }}" alt="image de {{ boxeur.nom }}" />
                        </div>
                        {# ------------- RESULT ------------- #}
                        <div class="result">
                            <p class="center">
                                <span class="beigeChaud">W :</span> <span class="white">{{ boxeur.victoire }}</span>
                            </p>
                            <p class="center">
                                <span class="beigeChaud">L :</span> <span class="white">{{ boxeur.defaite }}</span>
                            </p>
                            <p class="center">
                                <span class="beigeChaud">D :</span> <span class="white">{{ boxeur.egalite }}</span>
                            </p>
                        </div>
                        {# ------------- Text Article ------------- #}
                        <div class="paddArtBoxeAng">
                            <h2 class="center beigeChaud">{{ boxeur.prenom }} {{ boxeur.nom }}</h2>
                            <p class="paddArtBoxeAng center">
                                {{ boxeur.description }}
                            </p>
                        </div>
                    </article>
            </section>
        {% endblock %}