{% extends 'guest/base.html.twig' %}

{# ------------- TITRE PAGE ------------- #}

    {% block title %}
        Best's Boxer : Boxe Anglaise
    {% endblock %}

{# ------------- BODY ------------- #}

        {% block body %}
            <section class="w90flex wrap">

                    {# ------------- First Article ------------- #}
                    <article class="w45 font">

                        {# ------------- IMG Articles ------------- #}
                        <div class="marginTop">
                            <img src="{{ asset('assets/uploads/'~boxeur.image) }}" alt="image de {{ boxeur.nom }}" />
                        </div>

                        {# ------------- RESULT ------------- #}
                        <div class="result">
                            <p class="center">
                                <span class="beigeChaud">Victoire :</span> {{ boxeur.victoire }}
                            </p>
                            <p class="center">
                                <span class="beigeChaud">Défaite :</span> {{ boxeur.defaite }}
                            </p>
                            <p class="center">
                                <span class="beigeChaud">Égalité :</span> {{ boxeur.egalite }}
                            </p>
                        </div>

                        {# ------------- Text Article ------------- #}
                        <div class="paddArtBoxeAng">
                            <h2 class="center beigeChaud">{{ boxeur.prenom }} {{ boxeur.nom }}</h2>
                            <p class="paddArtBoxeAng center">
                                {{ boxeur.description }}
                            </p>
                        </div>
                    </article>
            </section>
        {% endblock %}