{% extends 'admin/base.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.4/css/dataTables.dataTables.min.css">
{% endblock %}

    {% block title %}
        Admin : Les Boxeurs
    {% endblock %}



{% block body %}

    <h1 class="center paddH1Admin">Les Boxeurs </h1>

    <div id="add">
        <a class="black" href="{{ path('insert_boxeur') }}">Ajouter un Boxeur <i class="fa-solid fa-person-circle-plus addBoxeur"></i></a>
    </div>

    <section>
        <table id="myTable">
            <thead>
            <tr>
                <td>Id</td>
                <td>Image</td>
                <td>Nom</td>
                <td>Prenom</td>
                <td>Date Naissance</td>
                {# <td>Résumé</td>  #}
                <td>Actions</td>
            </tr>
            </thead>
            <tbody>
            {% for  boxeur in boxeurs %}
                <tr>
                    <td>{{ boxeur.id }}</td>
                    <td>
                        <div class="divImgAdmin">
                            <img src="{{ asset('assets/uploads/'~boxeur.image) }}" alt="image de {{ boxeur.nom }}" />
                        </div>
                    </td>
                    <td>{{ boxeur.nom }}</td>
                    <td>{{ boxeur.prenom }}</td>
                    <td>{{ boxeur.DateNaissance | date('d-m-Y') }}</td>
                    {# <td>{{ boxeur.resume }}</td> #}
                    {# <td>{{ boxeur.Pesers }}</td> #}

                    {# <td>{{ article.category ? article.category.title : 'sans catégorie' }}</td> #}
                    {# <td>
                        {% if article.isPublished %}
                            <p>Oui</p>
                        {% else %}
                            <p>Non</p>
                        {% endif %}
                    </td> #}
                    <td>
                        <div class="update">
                            <a class="black" href="{{ path('admin_update_boxeur', {id:boxeur.id }) }}"><i class="fa-solid fa-file-pen iUpdate"></i></a>

                            <p class="js-admin-article-delete"><i class="fa-solid fa-trash-can"></i></p>
                        </div>

                        <div class="popupWrapper">
                            <div class="admin-article-popup-delete">
                                <p>Voulez vous vraiment supprimer ?</p>

                                <a href="{{ path('delete_boxeur', {id:boxeur.id}) }}">Supprimer</a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
{% block javascript %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/2.1.4/js/dataTables.min.js"></script>
<script >
    let table = new DataTable('#myTable');
    dataTable.on('click', 'tbody tr .js-admin-article-delete', function () {
        this.closest('td').querySelector('.popupWrapper').style.display = "block"
});
</script>
{% endblock %}