<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" >
    <link rel="stylesheet" href="{{ asset('assets/css/admin/adminstyle.css') }}">
    {% block stylesheet %}
    {% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>


<body>
{# ------------- HEADER ------------- #}
<header>
    <nav>
        <ul>
            <li>
                <a href="{{ path('admin_acceuil') }}">Accueil Admin</a>
            </li>
            <li>
                <a href="{{ path('admin_boxe') }}">Boxe Admin</a>
            </li>
            <li>
                <a href="{{ path('admin_gestion_user') }}">Gestion Users</a>
            </li>
            <li>
                <a href="{{ path('app_logout') }}">Deconnexion Admin</a>
            </li>
        </ul>
    </nav>
</header>

{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}


{% block body %}

{% endblock %}


{# ------------- FOOTER ------------- #}
<footer>
    <p>© Copyright</p>
</footer>

{% block javascript %}
{% endblock %}
<script src="{{ asset('assets/js/main.js') }}"></script>
</body>
</html>