{% extends 'guest/base.html.twig' %}

{# ------------- TITRE PAGE ------------- #}

    {% block title %}
        Best's Boxer : Boxe Anglaise Super Plumes
    {% endblock %}

{# ------------- BODY ------------- #}

        {% block body %}

            <section class="w90 margin">
                {% for boxeur in boxeurs %}
                    <article class="w45flexWrap font">
                            {# {% for boxeur.img in boxeurs.img %} #}
                                <div class="w90img">
                                {# ZONE CARROUSSEL D'IMAGES #}
                                    <img src="{{ asset('assets/img/JoshuaHeader.jpg') }}" alt="">
                                </div>
                            {# {% endblock %} #}
                        <div class="padd11px">
                            <h1 class="padd11px center beigeChaud">{{ boxeur.prenom }} {{ boxeur.nom }}</h1>
                            <p class="center">{{ boxeur.resume }}</p>
                            <p class="center padd11px"><a class="ancreBoxeAng" href="{{ path('show_boxeur', {id:boxeur.id}) }}">En savoir +</a></p>
                        </div>
                    </article>
                {% endfor %}
            </section>

        {% endblock %}